.btn {
    padding: rem(14px) rem(45px);
    color: #fff;
    text-transform: uppercase;
    border: 2px solid transparent;
    background-color: $accent;
    font-size: rem(12px);
    cursor: pointer;


    &--header {
        @include screen-md {
            padding: rem(21px) rem(21px);
        }
    }

    &--greeting {
        padding: rem(21px) rem(73px);
    }

    &:hover {
        border: 2px solid $accent;
        background-color: #fff;
        color: $accent;
    }
}