.cards {
    width: 100%;
    display: flex;

    @include screen-sm {
        flex-direction: column;
    }
}

.cards__card {
    height: rem(360px);
    flex-grow: 1;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(40px) rem(10px) ;
    border: 3px solid $line;
    margin-left: -3px;
    position: relative;

    @include screen-sm {
        width: 100%;
        height: rem(100px);
        padding: rem(10px) rem(10px) ;
        margin-left: 0;
        margin-top: -3px;
        justify-content: center;
    }

    &:first-child {
        margin-left: 0;

        @include screen-sm {
            margin-top: 0px;
        }
    }

    &:hover {
        border: 3px solid $accent;
        box-shadow:  20px 20px 100px 0px rgba(#000, 0.2);
        z-index: 5;

        .cards__link {
            color: $accent;
        }
    }
}

.cards__text {
    font-size: rem(24px);

    @include screen-lg-md {
        font-size: rem(18px);
    }

    @include screen-md {
        font-size: rem(14px);
    }

    &--bold {
        font-size: rem(24px);
        font-weight: 800;
        color: $basic;

        @include screen-md {
            font-size: rem(18px);
        }
    }

    &--gray {
        font-size: rem(16px);
        opacity: 0.5;
        text-decoration: underline;
    }
}

.cards__icon {
    margin-top: auto;
    margin-bottom: auto;

    @include screen-sm {
        display: none;
    }

    &--phone {
        width: rem(119px);
        height: rem(119px);
        @include sprite($phone-big)
    }

    &--envelope {
        width: rem(119px);
        height: rem(83px);
        @include sprite($envelope-big)
    }

    &--point {
        width: rem(90px);
        height: rem(120px);
        @include sprite($marker-big)
    }
} 

.cards__link {
    text-decoration: underline;
    font-size: rem(16px);
    font-weight: 800;
    text-align: center;
    color: $basic;
    text-decoration-color: $basic;

    @include screen-md {
        font-size: rem(14px);
    }
}