.contacts {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    align-items: flex-start;
    padding-left: 40px;
    position: relative;

    &:before {
        content: '';
        @include sprite($phone-small);
        display: inline-block;
        padding-top: 10px;
        margin-right: 15px;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 10px;
        left: 0;
    }

    &--footer {
        color: #fff;
        margin-bottom: 35px;

        &:before {
            @include sprite($phone-white);
        }

        .contacts__email {
            color: $footer;
        }
    }
}

.contacts__email {
    margin-top: 12px;
}