.favorites {
    text-transform: uppercase;
    color: $menu;
    font-size: rem(11px);
    line-height: rem(21px);
    // text-align: center;
    // padding-top: rem(12px);

    &:before {
        content: '';
        @include sprite($star);
        display: inline-block;
        padding-top: rem(10px);
        margin-right: rem(15px);
        width: rem(12px);
        height: rem(12px);

    }
}