.favorites {
    text-transform: uppercase;
    color: $menu;
    font-size: 11px;
    line-height: 21px;
    // text-align: center;
    // padding-top: 12px;

    &:before {
        content: '';
        @include sprite($star);
        display: inline-block;
        padding-top: 10px;
        margin-right: 15px;
        width: 12px;
        height: 12px;

    }
}