.footer {
    width: 100%;
    color: #fff;
}

.footer__container {
    display: flex;
    flex-direction: column;
}

.footer__top {
    padding: rem(75px) rem(100px) 0;
    height: rem(554px);
    background-color: $basic;
}

.footer__row {
    display: flex;
    width: 100%;

    &:first-child {
        margin-bottom: rem(30px);
    }
}

.footer__column {
    width: 100%;
    flex-grow: 1;

    &--typo {
        max-width: rem(315px);
    }

    &--contacts {
        max-width: rem(315px);
    }
}

.footer__divider {
    display: flex;
    width: 100%;
}

.footer__title {
    font-family: 'Open Sans Condensed', sans-serif;
    display: block;
    position: relative;
    padding-bottom: rem(25px);
    font-size: rem(16px);
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: rem(25px);

    &:after {
        content: '';
        display: block;
        width: 61px;
        height: 2px;
        background-color: $accent;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.footer__list {
    font-size: rem(14px);

    &:first-child {
        margin-right: rem(30px);
    }
}

.footer__item {
    padding: rem(5px) rem(10px) rem(5px) 0 ;
}

.footer__promo {
    margin-bottom: rem(35px);
    display: block;
}

.footer__map {
    height: rem(554px);
}