.header {
    width: 100%;
}

.header__top {
    height: rem(35px);
    border-bottom: 1px solid $line;
    display: flex;
}

.header__top-left {
    flex-grow: 1;
}

.header__top-right {
    flex-shrink: 0;
    text-align: center;
}

.header__bottom {
    height: rem(126px);
}

.header__container {
    @include screen-md {
        display: flex;
        justify-content: space-between;
    }
}

.header__column {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;

    @include screen-md {
        width: initial;
        max-width: 25%;
    }
}