.logo {
    display: flex;
    flex-direction: column;
}

.logo__pic  {
    width: rem(155px);
    height: rem(47px);   
    margin-bottom: rem(14px);
}

.logo__promo {
    color: $basic;
    font-weight: 800;
    font-size: rem(14px);
}