.longread {
    display: table;
}

.longread__row {
    display: table-row;
}

.longread__cell {
    display: table-cell;

    &:first-child {
        width: rem(265px);
    }

    &:last-child {
        padding-left: rem(45px);
    }
}

.longread__title {
    color: $basic;
    padding-bottom: rem(35px);
    border-bottom: 3px solid $accent;
    font-size: rem(18px);
    font-weight: 800;
}

.longread__subtitle {
    color: $basic;
    font-size: rem(16px);
    font-weight: 800;
}