.nav__list {
    display: flex;
    margin-left: rem(-28px);
    align-items: center;
}

.nav__link {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: $menu;
    padding: 0 rem(28px) ;
    font-size: rem(11px);
}