.place  {
    display: flex;
    flex-direction: column;
    font-size: rem(14px);
    align-items: flex-start;
    padding-left: rem(40px);
    position: relative;

    @include screen-sm {
        padding-left: rem(0px);
    }

    &:before {
        content: '';
        @include sprite($marker-small);
        display: inline-block;
        padding-top: rem(10px);
        margin-right: rem(15px);
        width: 16px;
        height: 16px;
        position: absolute;
        top: rem(10px);
        left: 0;

        @include screen-sm {
            display: none;
        }
    }

    &--footer {
        &:before {
            @include sprite($marker-white);
        }

        .place__link  {
            color: $footer;
        }
    }
}

.place__link {
    margin-top: rem(12px);
}