.popular {
    display: flex;
    flex-wrap: wrap;
    margin: 0 rem(-10px);
    

    @include screen-lg{
        justify-content: center;
    } 

    @include screen-xs {
        flex-direction: column;
        align-items: center;
    }
}

.popular__card {
    margin: 0 rem(10px);
}

.popular__name {
    color: $basic;
    font-size: rem(18px);
    text-decoration: underline;
    font-weight: 800;
}

.popular__pic {
    margin: rem(20px) 0;
    width: rem(295px);
    height: rem(221px);

    // @include screen-lg {
    //     width: rem(240px);
    // }
    
}

.popular__order {
    width: rem(295px);
    height: rem(221px);
    margin: rem(20px) rem(10px);
    align-self: flex-end;
    border: 8px solid $accent;
     
    padding: rem(37px) rem(35px);
    display: flex;
    flex-direction: column;
    background-color: #fff;
    text-align: left;
    cursor: pointer;

    @include screen-xs {
        width: 100%;
        height: rem(100px);
        padding: rem(10px) rem(10px);
    }

    &:hover {
        box-shadow:  20px 20px 100px 0px rgba(#000, 0.2);
    }

    // @include screen-lg {
    //     width: rem(240px);
    //     height: rem(168px);
    // }
}

.popular__text {
    color: $accent;
    font-size: rem(18px);
    font-weight: 800;
    text-decoration: underline;
}

.popular__arrow {
    margin-top: auto;
    align-self: flex-end;
    @include sprite($pink-arrow);
    width: 36px;
    height: 22px;
}