.popular {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.popular__card {
    margin: 0 10px;
}

.popular__name {
    color: $basic;
    font-size: 18px;
    text-decoration: underline;
    font-weight: 800;
}

.popular__pic {
    margin: 20px 0;
    width: 295px;
    height: 221px;
}

.popular__order {
    width: 295px;
    height: 221px;
    margin: 20px 0;
    align-self: flex-end;
    border: 8px solid $accent;
     
    padding: 37px 35px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    text-align: left;
    cursor: pointer;

    &:hover {
        box-shadow:  20px 20px 100px 0px rgba(#000, 0.2);
    }
}

.popular__text {
    color: $accent;
    font-size: 18px;
    font-weight: 800;
    text-decoration: underline;
}

.popular__arrow {
    margin-top: auto;
    align-self: flex-end;
    @include sprite($pink-arrow);
    width: 36px;
    height: 22px;
}