.questions__list {
    margin-bottom: rem(87px);
}

.questions__button {
    background-color: #fff;
    margin: rem(15px) 0;
    padding-left: 0;
    padding-right: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    cursor: pointer;
}

.questions__answer {
    display: none;
    background-color: rgba(#ecf5fd, 0.5);
    padding: rem(35px) rem(40px);
    position: relative;

    &:before {
        content: '?';
        position: absolute;
        top: 0;
        left: rem(-145px);
        font-size: rem(210px);
        color: #eff8ff;
        font-family: 'Crete Round', serif;
    }

    p {
        font-size: rem(16px);
    }

}

.questions__title {
    margin: 0 0 rem(40px) 0;
    color: $basic;
    font-weight: 800;
}

.questions__hide {
    display: block;
    height: rem(50px);
    position: absolute;
    top: rem(35px);
    right: rem(40px);
    background-color: transparent;
    border: 0;
    padding-right: rem(33px);
    color: $basic;
    cursor: pointer;

    @include screen-xs {
        top: 90%;
        // bottom: 0;
        right: rem(40px);

    }

    &:after {
        content: '';
        width: rem(10px);
        height: rem(6px);
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        @include sprite($arrow-hide);
    }
}

.questions__list {
    counter-reset: list;
}

.questions__point {
    padding-left: rem(60px);
    position: relative;
    margin-bottom: rem(25px);
    font-size: rem(16px);

    &:last-child {
        margin-bottom: 0;
    }

    &:before {
        counter-increment: list;
        position: absolute;
        content: counter(list) ".";   
        display: block;
        text-align: center;
        line-height: rem(32px);
        height: rem(32px);
        width: rem(32px);
        background-color: #fff;
        border-radius: 50%;
        left: 0;
        top: 0;
        color: $basic;
        font-weight: 800;
    }
}