.slider {
    width: 100%;
    position: relative;
    margin-bottom: rem(83px);
}

.slider__arrow {
    position: absolute;
    width: rem(19px);
    height: rem(24px);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &--left {
        @include sprite($arrow-left);
        left: rem(-65px);

        @include screen-sm {
            left: rem(-25px);
        }
    }

    &--right {
        @include sprite($arrow-right);
        right: rem(-65px);

        @include screen-sm {
            right: rem(-25px);
        }
    }
}

.slider__list {
    display: flex;
}

.slider__item {
    width: rem(296px);
    height: rem(260px);
    // margin-right: rem(10px);
}