.slide-menu  {
    width: rem(187px);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.slide-menu__item {
    height: rem(52px);
    width: 100%;
    display: block;
}

.slide-menu__link {
    // padding: rem(20px) rem(30px);
    display: flex;
    align-items: center;
    // justify-content: center;
    height: 100%;
    width: 100%;
    background-color: $basic;
    color: #fff;
    padding-left: rem(30px);
    font-size: rem(14px);
    font-weight: 800;

    @include screen-sm-xs {
        display: none;
    }

    &:hover {
        background-color:$accent;
    }
}