.table {
    display: table;
    width: 100%;
    border: 1px solid $line;
}

.table__row {
    display: table-row;

    &:nth-child(2n) {
        background-color: rgba(#e6f0f8, 1);
    }
}

.table__cell {
    display: table-cell;
    padding: rem(12px) rem(25px);
    text-align: center;
    font-size: rem(14px);
    
    @include screen-sm {
        padding: rem(10px) rem(10px);
    }

    &:first-child {
        text-align: left;
    }

    &--special {
        background-color: $accent;
        color: #fff;
        font-weight: 700;
    }
}

.table__header {
    background-color: $basic;
}

.table__header-cell {
    padding: rem(20px) rem(25px);
    color: #fff;
    font-size: rem(16px);
    font-weight: 800;
    
    @include screen-sm {
        padding: rem(10px) rem(10px);
        font-size: rem(14px);
    }
}

.table__caption {
    // display: table-caption;
    width: 100%;
    font-size: rem(14px);
    padding: rem(26px);
    border-bottom: 1px solid $line;
    margin-bottom: rem(79px);
}

.table__caption-head {
    color: $basic;
    font-weight: 800;
    margin-bottom: rem(10px);
}

.table__caption-text {
    padding: rem(3px) 0;
}