.variants {
    display: flex;
    width: 100%;
    
}

.variants__left {
    width: 65%;

    @include screen-lg-md {
        width: 50%;
    }
}

.variants__right {
    width: 35%;

    @include screen-lg-md {
        width: 50%;
    }
}

.variants__cards {
    display: flex;
    flex-wrap: wrap;
}

.variants__card {
    width: rem(300px);
    height: rem(116px);
    display: flex;
    margin-bottom: rem(20px);
    align-items: center;
}

.variants__pic {
    width: rem(116px);
    height: rem(116px);
    background-color: $line;
    border-radius: 50%;
    position: relative;
    flex-shrink: 0;

    @include screen-sm {
        width: rem(40px);
        height: rem(40px);
    }

    &:before {
        content: '';
        display: block;
        // text-align: center;
        // margin: 0 auto rem(40px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include screen-sm {
            display: none;
        }
    }
}

.variants__pic--wallet {
    &:before {
        @include sprite($wallet);
    }
}
.variants__pic--sheet {
    &:before {
        @include sprite($sheet);
    }
}
.variants__pic--card {
    &:before {
        @include sprite($card);
    }
}
.variants__pic--pointer {
    &:before {
        @include sprite($pointer);
    }
}
.variants__pic--wallet {
    &:before {
        @include sprite($wallet);
    }
}
.variants__pic--clock {
    &:before {
        @include sprite($clock);
    }
}
.variants__pic--car {
    &:before {
        @include sprite($car);
    }
}

.variants__text {
    padding: 0 rem(20px) 0 rem(40px);
    color: $basic;
    font-weight: 800;

    &--delivery {
        padding-right: 0;
    }
}