
// @font-face {
//     font-family: 'fontawesome';
//     src: url('../fonts/fontawesome.otf'),
//          url('../fonts/fontawesome.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'exo';
    src: url('../fonts/Exo2.0-Thin.eot'),
    // src: url('../fonts/Exo2.0-Thin.otf'),
         url('../fonts/Exo2.0-Thin.woff') format('woff'),
         url('../fonts/Exo2.0-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

