$font-size:                   16px;

$screen-xs:                   480px;
$screen-sm-xs:                600px;
$screen-sm:                   795px;
$screen-md:                   992px;
$screen-lg-md:                1089px;
$screen-lg:                   1200px;
$screen-xl:                   1800px;

// Colors

$basic :                    #393185;
$text :                     #303030;
$accent :                   #e50a62;
$menu :                     #2e2771;
$line :                     #e2e2ed;
$footer :                   #b1c2e8;





